@import "../base/scroll";
@import "../base/body";
@import "../Componentes/listas";
@import "../base/button";
@import "../base/contenedores";
@import "../base/header";
@import "../base/cuerpo-principal";
@import "../base/nosotros";
@import "../base/servicios";
@import "../base/blog";
@import "../base/contacto";
@import "../base/footer";


*{
    box-sizing: border-box;
}


/*...... fuentes generales......*/

h1{ font-size: 3em;}
h2{ font-size: 1,8em;
    font-family: 'Playfair Display', serif;
}
h3{ font-size: 1,5em;
    font-family: 'EB Garamond', serif;
}
h5{ font-size: 1,25em;}
p{ font-size: 1em;
    font-family: 'EB Garamond', serif;
}
ul{ list-style: none;}
    

