@import "../base/scroll";
@import "../base/body";
@import "../Componentes/listas";
@import "../base/button";
@import "../base/contenedores";
@import "../base/header";
@import "../base/cuerpo-principal";
@import "../base/nosotros";
@import "../base/servicios";
@import "../base/blog";
@import "../base/contacto";
@import "../base/footer";


*{
    box-sizing: border-box;
}


/*...... fuentes generales......*/

h1{ font-size: 3em;}
h2{ font-size: 1,8em;
    font-family: 'Playfair Display', serif;
}
h3{ font-size: 1,5em;
    font-family: 'EB Garamond', serif;
}
h5{ font-size: 1,25em;}
p{ font-size: 1em;
    font-family: 'EB Garamond', serif;
}
ul{ list-style: none;}
    
/* .........media query.......... */

@media (min-width:720px){
    
    /* .......estilo header....... */

    header {
        position: fixed;
        width: 100%;
    }
    header .contenedor-logo{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    /* ......estilo seccion nosotros...... */

    #nosotros .contenedor{
        display: flex;
        justify-content: space-evenly;
    }

    #nosotros ul{
        margin-left: 20px;
    }

    #nosotros .texto{
        width: 50%;
        max-width: 600px;
        text-align: left;
        padding-left: 30px;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    #img-contenedor{
        background-image: url(/images/rh.jpeg);
        background-size: 500px 400px;
        background-position: calc(100vw - 550px) 80px;
        background-repeat: no-repeat;
    }

    #nosotros h2{
        margin-top: 0px;
    }

/* ........estilo seccion servicios...... */

#servicios .services{
    display: flex;
    justify-content: center;
}

#servicios p{
    display: block;
    margin-bottom: 30px;

}

#servicios h3{
    margin-top: 0px;
}

#servicios .secciones{
    padding: 15px;

}

/* .......estilo seccion blog...... */

#blog{

    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(/images/blogg.jpeg);
    background-size: 500px 400px;
    background-position: calc(100vw - 700px) 150px;
    color: black;

}

#blog h2{
    color: aliceblue;
}

#blog p{
    color: rgb(216, 162, 134);
    font-size: 2em;
}

#blog a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: azure;
    
}

#blog .contenedor{
    display: flex;
    justify-content: center;
}

/* .......estilo seccion contacto........ */

#contacto{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(/images/redes.png);
    background-size: cover;
}

#contacto h2{
    font-size: 3em;
}

#contacto .contenedor-pie{
    font-size: 1em;
}

/* ......estilo footer .......*/

#footer .contenedor{
    display: flex;
    justify-content: center;
}

}
