/* ........estilo blog........... */

#blog{
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("../images/blooog.jpeg");

    @media (min-width:720px){
        background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(/images/blogg.jpeg);
    background-size: 500px 400px;
    background-position: calc(100vw - 700px) 150px;
    color: black;
    }
}

#blog .contenedor {
    text-align: center;
    padding: 200px 12px;
    margin-top: 0px;

    @media (min-width:720px){
        display: flex;
        justify-content: center;
    }
}

#blog .contenedor-blog{
padding-bottom: 1px;
}

#blog h2{
    color: white;
    margin-top: 0px;
    font-size: 3em;
    padding: 150px 10px;
    text-align: center;

    @media (min-width:720px){
        color: aliceblue;
    }
}

#blog li{
    margin: 15px 0px;
    font-weight: bold;
    font-size: large;
    
}

#blog p{
    color: white;

    @media (min-width:720px){
        color: rgb(216, 162, 134);
        font-size: 2em;
    }
}

#blog a{
    text-decoration: none;
    color: whitesmoke;
    font-family: fantasy;

    @media (min-width:720px){
        display: flex;
    justify-content: center;
    text-decoration: none;
    color: azure;
    }

}
