/* ........estilo de contenedores .......*/

.contenedor {
    max-width: 1400px;
    margin: auto;
}

.contenedor-blog{
    max-width: 1400px;
    margin: auto;
}

.contenedor-pie{
    max-width: 1400px;
    margin: auto;
}