/* ........estilo section servicios........ */

#servicios {
    background-color: rgb(30, 30, 30);
    color: aliceblue;
    text-align: center;
    .services{
        @media (min-width:720px){
            display: flex;
            justify-content: center;
        }
    }
}

#servicios .secciones{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;

    @media (min-width:720px){
        padding: 15px;
    }
}

#servicios .contenedor{
    padding: 100px 10px;
    
}

#servicios h2{
    margin-top: 0;
    font-size: 4em;
}

#servicios h3{
    font-size: 2em;
    @media (min-width:720px){
        margin-top: 0px;
    }
}

#servicios p{
    display: none;
    font-size: 1em;

    @media (min-width:720px){
        display: block;
        margin-bottom: 30px;
    }

}

.secciones:first-child{ 
    background-image:  linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../images/instalaciones.jpeg");

}

.secciones:nth-child(2){
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../images/desarrollo.jpeg");
    

}

.secciones:last-child{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../images/backup2.jpeg");
}

@media (min-width:720px){

}